<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seoul.share">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.auth.WithdrawalCompleteActivity"/>
        <activity android:name=".ui.activity.auth.WithdrawalPhoneAuthActivity"/>
        <activity android:name=".ui.activity.mypage.WithdrawalActivity"/>
        <activity android:name=".ui.activity.mypage.ReviewTheContractActivity"/>
        <activity android:name=".ui.activity.mypage.OpenSourceLicenseActivity"/>
        <activity android:name=".ui.activity.mypage.VersionCheckActivity"/>
        <activity android:name=".ui.activity.auth.ChangePwActivity"/>
        <activity android:name=".ui.activity.auth.PhoneAuthActivity"/>
        <activity android:name=".ui.activity.mypage.PersonalInquiryActivity"/>
        <activity android:name=".ui.activity.mypage.SettingActivity"/>
        <activity android:name=".ui.activity.mypage.NoticeBoardActivity"/>
        <activity android:name=".ui.activity.mypage.NoticeBoardDetailActivity"/>

        <activity android:name=".ui.activity.mypage.InquiryDetailsActivity"/>
        <activity android:name=".ui.activity.mypage.QuestionActivity"/>
        <activity android:name=".ui.activity.mypage.WishedItemActivity"/>

        <activity android:name=".ui.activity.mypage.ItemManagementActivity"/>
        <activity android:name=".ui.activity.mypage.ItemsApprovedRentalActivity"/>
        <activity android:name=".ui.activity.mypage.ItemsRentalActivity"/>

        <activity android:name=".ui.activity.mypage.ProfileEditActivity"/>
        <activity android:name=".ui.activity.rental.TownDetailActivity"/>

        <activity android:name=".ui.activity.Menu4OfChatActivity"/>
        <activity android:name=".ui.activity.Menu3OfItemUploadActivity" />
        <activity android:name=".ui.activity.Menu2OfVideoInfoActivity" />
        <activity android:name=".ui.activity.rental.RentalTownSelectActivity" />
        <activity android:name=".ui.activity.intro.TutorialActivity" />
        <activity android:name=".ui.activity.rental.RentalDecisionCheckActivity" />
        <activity android:name=".ui.activity.rental.RentalDecisionActivity" />
        <activity android:name=".ui.activity.rental.RentalItemDetailActivity" />

        <activity android:name=".ui.activity.NotificationActivity" />
        <activity android:name=".ui.activity.auth.Completed_pwActivity" />
        <activity android:name=".ui.activity.auth.FInd_pwActivity" />
        <activity android:name=".ui.activity.auth.LoginActivity" />
        <activity android:name=".ui.activity.intro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
    </application>

</manifest>